p {
  font-family: "Times New Roman", Times, serif;
}

.p1 {
  font-family: Arial, Helvetica, sans-serif;
}

.unordered li {
  font-family: "Brush Script MT", cursive;
}

.unordered h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aquamarine;
}

.google {
  font-family: "Sofia", sans-serif;
}

.heading {
  font-family: "Trirong", serif;
}
